.CartPage{
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    overflow: hidden;
}
.CartHeader{
    height: 10vh;
    width: 100%;
    background-color: #fff;
    display: grid;
    grid-template-columns: 100px 1fr 100px ;
}
.CartBox{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.CartBox p{
    margin: 0;
    font-size: 20px;
    color: #B786D9;
    padding-right: 15px;
}
.CartTitle{
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}
.CartTitle p{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.cb2{
    justify-content: flex-end;
}
.CartPage section{
    height: 90vh;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}
.CartItem{
    height: 120px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 70px 1fr 40px;
    border-bottom: 1px solid #fa8072;
}
.CartItemImg{
    height: 100px;
    width: 70px;
    border-radius: 7px;
    margin-top: 10px;
    background-color: #f0f0f0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.CartDetails{
    width: 100%;
    margin-top: 10px;
}
.CartDetailsTitle{
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    padding-left: 15px; 
    margin-top: 5px;
}
.CartCancleContainer{
    margin-top: 10px;
    width: 100%;
    display: grid;
    justify-content: flex-end;
}
.ProceedToCheckout{
    height: 45px;
    width: 200px;
    background-color: #B786D9;
    border-radius: 7px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0 20px;
    cursor: pointer;
}