.SelectedItemPage{
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    position: absolute;
    top: 0;
    display: grid;
    grid-template-rows: 1fr min-content;
    overflow: hidden;
    overflow-y: scroll;
}
.SelectedItemTop{
    height: 65vh;
    width: 100vw;
    background-color: #f5da91a4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.SelcetedItemBottom{
    height: 40vh;
    width: 100vw;
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    top: -5vh;
}
.ItemInfoContainer{
    width: 100vw;
}
.ItemNameTag{
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 15px;
}
.ItemPriceTag{
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 15px;
}
.SelectorContainer{
    padding-top: 10px;
    width: 200px;
    display: flex;
    flex-direction: row;
}
.SizeSelector{
    height: 35px;
    width: 35px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 7px;
    margin-left: 15px;
    display: grid;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}
.ItemSize{
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 15px;
}
.ItemDescription{
    margin-top: 20px;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
}
.SelectedItemBottom{
    height: 50px;
    padding-top: 10px;
}
.AddToCartButton{
    height: 60px;
    width: 170px;
    background-color: #B786D9;
    position: fixed;
    bottom: 0;
    right: 0;
    border-top-left-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.AddToCartButton p{
    margin: 0;
    color: #fff;
    font-size: 17px;
    padding-right: 10px;
}
.SelectedItemBack{
    height: 50px;
    padding-left: 5px;
    display: grid;
    align-items: center;
    background: linear-gradient(3.12deg,rgba(0, 0, 0, 0) 97.42% , rgba(21, 21, 21, 0.21) 27.57%, rgba(43, 43, 43, 0.46) -2.66%);
}
.preCartAlertDiv{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}
.PreCartAlert{
    padding: 20px 0;
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    animation: swing 0.5s ease forwards;
    text-align: center;
}
.PreCartAlert p{
    font-size: 20px;
    color: #000;
    margin: 0;
    margin-top: 10px;
}
@keyframes swing {
    0%{transform: translateY(100vh);}
    100%{transform: translateY(0px);}
}