.Header{
    height: 10vh;
    width: 100vw;
    background-color: #fff;
    display: grid;
    grid-template-columns: 60px 1fr 60px ;
}
.Hamburger_container{
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}
.Header_shoppingbag_container{
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}
.Header_search_container{
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
}
.main_input_container{
    height: 40px;
    width: 90%;
    border-radius: 20px;
    background-color: #f9f9f9;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 50px 1fr;
    overflow: hidden;
}
.search_icon{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_input_container input{
    height: 100%;
    width: 100%;
    font-size: 18px;
    background-color: transparent;
    border: none;
}
.main_input_container input:focus{
    outline: none;
}