.HomePage{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #fff;
}
section{
    height: 80vh;
    width: 100vw;
    overflow: hidden;
    overflow-y: scroll;
}
.Collections{
    width: 100%;
    border: 1px solid #0000;
    
}
.pageTitle{
    font-size: 21px;
    font-family: sans-serif;
    margin-left: 15px;
    margin-bottom: 5px;
}
.pageTitleLine{
    height: 3px;
    width: 70px;
    border-radius: 2px;
    background-color: #EB96A1;
    margin-left: 15px;
}
.Collections_list{
    height: 100px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow-x: scroll;
}
.Collection_Item{
    height: 100%;
    text-align: center;
    margin: 0 15px;
}
.Collection_Item_logo{
    height: 70px;
    width: 70px;
    background-color: #f5da91a4;
    border-radius: 35px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.Collection_Item_logo img{
    height: 36px;
    width: 34px;
}
.Collection_Item p{
    font-size: 18px;
    color: #000;
    opacity: 0.6;
    margin: 0;
    margin-top: 10px;
}
.Home_Item{
    height: 350px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    background-color: #f5da91a4;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
}
.Home_Item_title{
    height: 70px;
    width: 100%;
    background: linear-gradient(3.12deg, rgba(43, 43, 43, 0.46) -2.66%, rgba(21, 21, 21, 0.21) 27.57%, rgba(0, 0, 0, 0) 97.42%);
    display: grid;
    align-items: center;
}
.Home_Item_title p{
    color: #fff;
    font-size: 24px;
    font-weight: lighter;
    margin: 0;
    padding-left: 15px;
}