.HomePage{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #fff;
}
section{
    height: 80vh;
    width: 100vw;
}
.Collections{
    width: 100%;
    border: 1px solid #0000;
    
}
.pageTitle{
    font-size: 21px;
    font-family: sans-serif;
    margin-left: 15px;
    margin-bottom: 5px;
}
.pageTitleLine{
    height: 3px;
    width: 70px;
    border-radius: 2px;
    background-color: #EB96A1;
    margin-left: 15px;
}
.Collections_list{
    height: 100px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow-x: scroll;
}
.Collection_Item{
    height: 100%;
    text-align: center;
    margin: 0 15px;
}
.Collection_Item_logo{
    height: 70px;
    width: 70px;
    background-color: #f5da91a4;
    border-radius: 35px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.Collection_Item_logo img{
    height: 36px;
    width: 34px;
}
.Collection_Item p{
    font-size: 18px;
    color: #000;
    opacity: 0.6;
    margin: 0;
    margin-top: 10px;
}
.Home_Item{
    height: 200px;
}